:root {
    --bg: #0a0a15;
    --panel: #111122;
    --accent: #51b1ff;
    --text: #ffffff;
    --muted: #a2a2a2;
    --muted-border: #222242;
    --radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: min(2vw, 1rem);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

select {
    outline: none;
}

main {
    margin-top: 4rem;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 3rem;
}

footer {
    background-color: #000000;
    padding: 2rem 3rem;
    margin-top: auto;
}

nav {
    display: flex;
    gap: 1.5rem;
}

pre {
    border-radius: var(--radius);
    margin: 1rem 0;
    overflow-x: auto;
}

pre,
.lines,
.editor {
    padding: 0.75rem 1rem;
}

code {
    padding: 0.2rem;
    border-radius: var(--radius);
}

pre,
code,
button,
select,
.editor,
.lines {
    font-family: inherit;
    color: inherit;
    line-height: inherit;
}

h1,
h2,
h3 {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    line-height: 1.25;
}

p {
    margin-bottom: 1rem;
}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

li::marker {
    color: var(--muted);
}

.nav-link {
    color: var(--text);
}

.hero {
    padding-top: 13rem;
    padding-bottom: 10rem;
}

.logo,
.tagline,
.hero-buttons {
    padding: 1.5rem 6rem;
}

.logo {
    width: 30rem;
}

.tagline {
    font-weight: 500;
    font-size: 1.5rem;
    width: 75%;
    text-wrap: balance;
}

.principles {
    padding: 3rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.principles-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code-snippet {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: var(--bg);
}

.accent {
    color: var(--accent);
    font-weight: 700;
}

.button {
    font-weight: 300;
    border-radius: var(--radius);
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
}

.button-primary {
    background-color: var(--accent);
    color: var(--bg);
}

.button-secondary {
    color: var(--accent);
    border: 2px solid var(--accent);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.icon {
    vertical-align: middle;
    width: 1.25rem;
}

.puzzle {
    position: absolute;
    right: 6rem;
    top: 21rem;
    width: 10rem;
}

.panel,
.toc,
code,
pre,
button,
select {
    border: 1px solid var(--muted-border);
    background-color: var(--panel);
}

.muted {
    color: var(--muted);
}

.content-wrapper {
    display: flex;
    justify-content: start;
    gap: 6rem;
}

.toc {
    position: sticky;
    top: 4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-height: calc(100vh - 5rem);
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
    padding-left: 0.5rem;
    border-radius: var(--radius);
}

.content {
    width: 50%;
    padding: 1rem;
    margin-right: 6rem;
    line-height: 1.6;
}

.playground-wrapper {
    margin: 1rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: calc(100vh - 8rem);
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar-left {
    display: flex;
    gap: 1rem;
}

.toolbar button,
.toolbar select {
    padding: 0 1rem;
    border-radius: var(--radius);
}

.editor-wrapper,
.output {
    border-radius: var(--radius);
    flex-grow: 1;
}

.editor-wrapper {
    display: flex;
}

.output {
    padding: 1rem 2rem;
    height: 100%;
    white-space: pre;
    overflow: auto;
    margin: 0;
}

.lines {
    text-align: right;
    user-select: none;
    padding-left: 2rem;
    color: var(--muted);
    white-space: pre;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 50vh;
    outline: none;
    resize: vertical;
    background-color: var(--panel);
    border: none;
    padding-left: 0;
    overflow: auto;
    white-space: nowrap;
    max-height: calc(100vh - 12rem);
}

.lines,
.editor,
.output,
.toolbar button,
.toolbar select {
    font-size: 1.25rem;
}

.toc ul,
.toc ol {
    margin-top: 0.5rem;
}

@media (max-width: 900px) {
    .toc {
        display: none;
    }

    .content {
        width: 100%;
        margin-right: 0;
    }
}
