:root {
    --bg: #0a0a15;
    --panel: #111122;
    --accent: #51b1ff;
    --text: #ffffff;
    --muted: #a2a2a2;
    --muted-border: #222242;
    --radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Inter, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin-top: 3rem;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 3rem;
}

footer {
    background-color: #000000;
    padding: 2rem 3rem;
    margin-top: auto;
}

nav {
    display: flex;
    gap: 1.5rem;
}

pre {
    padding: 0.75rem 1rem;
    border-radius: var(--radius);
    margin: 1rem 0;
}

code {
    padding: 0.2rem;
    border-radius: var(--radius);
}

h1,
h2,
h3 {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    line-height: 1.25;
}

p {
    margin-bottom: 1rem;
}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

li::marker {
    color: var(--muted);
}

.nav-link {
    color: var(--text);
}

.hero {
    padding-top: 13rem;
    padding-bottom: 10rem;
}

.logo,
.tagline,
.hero-buttons {
    padding: 1.5rem 6rem;
}

.logo {
    width: 30rem;
}

.tagline {
    font-weight: 500;
    font-size: 1.5rem;
    width: 85%;
    text-wrap: balance;
}

.principles {
    padding: 3rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.principles-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

.code-snippet {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: var(--bg);
    flex-grow: 1;
    max-width: 60rem;
}

.accent {
    color: var(--accent);
    font-weight: 700;
}

.button {
    font-weight: 300;
    border-radius: var(--radius);
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
}

.button-primary {
    background-color: var(--accent);
    color: var(--bg);
}

.button-secondary {
    color: var(--accent);
    border: 2px solid var(--accent);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.icon {
    vertical-align: middle;
    width: 1.25rem;
}

.puzzle {
    position: absolute;
    right: clamp(3rem, 8%, 6rem);
    top: 20rem;
    width: 11rem;
}

.panel,
.toc,
code,
pre {
    border: 1px solid var(--muted-border);
    background-color: var(--panel);
}

.muted {
    color: var(--muted);
}

.content-wrapper {
    display: flex;
}

.toc {
    position: sticky;
    top: 4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-height: calc(100vh - 5rem);
    overflow: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
    border-radius: var(--radius);
}

.content {
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.6;
}

.toc ul,
.toc ol {
    margin-top: 0.5rem;
}

@media (max-width: 900px) {
    .toc {
        display: none;
    }
}
