.Statement {
    color: #cba6f7;
}

.Include {
    color: #cba6f7;
}

.Delimiter {
    color: #9399b2;
}

.Keyword {
    color: #cba6f7;
}

.Function {
    color: #89b4fa;
}

.String {
    color: #a6e3a1;
}
