<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.6" />
        <title>Cent Programming Language</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/syntax.css" />
        <link
            href="https://fonts.googleapis.com/css?family=JetBrains Mono"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="panel">
            <a href="/">
                <img class="icon" src="/static/icon.svg" />
            </a>
            <nav>
                <a class="nav-link" href="/docs/">Docs</a>
                <a class="nav-link" href="/news/">News</a>
                <a class="nav-link" href="https://github.com/centlang/cent"
                    >GitHub</a
                >
            </nav>
        </header>
        <main>{{ content }}</main>
        <footer>
            <span class="muted">© 2025 lnkrr</span>
        </footer>
    </body>
</html>
