name: Build and deploy

on:
  push:
    branches: [ master ]
    paths: "frontend/**"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        working-directory: ./frontend
        run: |
          sudo apt-get update
          sudo apt-get install -y neovim
          pip install -r requirements.txt

      - name: Install cent.vim
        run: |
          git clone https://github.com/centlang/cent.vim \
            ~/.config/nvim/pack/vendor/start/cent.vim

      - name: Build
        working-directory: ./frontend
        run: python build.py

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/build
